.gallery {
  box-shadow: 0 0 5px rgba($black, 0.4);
  width: 100%;
}

.gallery-container {
  align-items: center;
  display: flex;
  height: 24rem;
  margin: 0 auto;
  max-width: 100rem;
  position: relative;
}

.gallery-item {
  border: 1px solid $light-gray;
  height: 5rem;
  opacity: .4;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 15rem;
  z-index: 0;

  @include respond(zoom-150) {
    width: 10rem;
  }

  &__image {
   width: 100%;
  }

  &__description {
    visibility: hidden;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0.75+42 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.75) 42%, rgba(255,255,255,0.75) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 42%,rgba(255,255,255,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 42%,rgba(255,255,255,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    width: 101%;
    padding: 5px 10px;
    position: absolute;
    bottom: -2px;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s;
    transition-delay: 0.3s;
  }

}

.gallery-item.gallery-item-selected {
  box-shadow: 0 0 3rem rgba(255, 255, 255, 0.6), 0 0 6rem rgba(255, 255, 255, 0.45), 0 0 11rem rgba(255, 255, 255, 0.25), 0 0 10rem rgba(255, 255, 255, 0.1);
  height: 20rem;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 30rem;
  z-index: 2;

  @include respond(zoom-150) {
    width: 25rem;
    height: 16.67rem;
  }

  .gallery-item__description {
    visibility: visible;
    opacity: 1;
  }
}

.gallery-item.gallery-item-previous,
.gallery-item.gallery-item-next {
  height: 10rem;
  opacity: 1;
  width: 20rem;
  z-index: 1;

  @include respond(zoom-150) {
    width: 14rem;
    height: 7rem;
  }
}

.gallery-item.gallery-item-previous {
  left: 30%;
  transform: translateX(-50%);
}

.gallery-item.gallery-item-next {
  left: 70%;
  transform: translateX(-50%);
}

.gallery-item.gallery-item-first {
  left: 15%;
  transform: translateX(-40%);
}

.gallery-item.gallery-item-last {
  left: 85%;
  transform: translateX(-60%);
}

.gallery-controls {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.gallery-controls button {
  border: 0;
  cursor: pointer;
  font-size: 16px;
  margin: 0 2rem;
  padding: 0 12px;
  text-transform: capitalize;
}

.gallery-controls button:focus {
  outline: none;
}

.gallery-controls-previous {
  position: relative;
}

.gallery-controls-previous::before {
  border: solid #666;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: 4px;
  left: -7rem;
  padding: 2px;
  position: absolute;
  top: -28px;
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-previous:hover::before {
  left: -7.2rem;
}

.gallery-controls-next {
  position: relative;
}

.gallery-controls-next::before {
  border: solid #666;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: 4px;
  padding: 2px;
  position: absolute;
  right: -7rem;
  top: -20px;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-next:hover::before {
  right: -7.2rem;
}

.gallery-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

.gallery-nav li {
  background: #ccc;
  border-radius: 50%;
  height: 1rem;
  margin: 0 16px;
  width: 1rem;
}

.gallery-nav li.gallery-item-selected {
  background: #555;
}