.carousel {
  box-shadow: 0 5px 1rem rgba(0, 0, 0, .4);
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;

  &__buttons {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    position: absolute;
    width: 100%;
  }
  
  &__list {
    display: flex;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    transition: all 1s ease;
    width: 100%;
  }
  
  &__card {
    background: black;
    display: inline-block;
    height: 200px;
    min-width: 100%;
    position: relative;

    img.carousel__image {
      width: 100%;
    }

    p.carousel__text {
      bottom: 1.5rem;
      left: 1rem;
      position: absolute;
      color: #fff;
    }
  }

  &__button {
    cursor: pointer;
    transition: transform .3s ease;

    &:hover {
      transform: scale(1.3);
    }
  }
}
