.treemap, .bar {
    rect {
      -moz-transition: all 0.25s;
      -o-transition: all 0.25s;
      -webkit-transition: all 0.25s;
      transition: all 0.25s;
    }

    // rect:hover {
    //   stroke: black;
    //   fill-opacity: 0.8;
    // }
}

.legend {
  g g {
    pointer-events: all;
  }
}

.tooltip {
  position: absolute;
  height: auto;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  display: none;
  width: auto !important;
  z-index: 99;

  .tooltip__title {
    font-weight: bold;
  }
}

.group__graphic {
  width: 100px;
  height: 100px;
  position: relative;
  margin: auto;

  @media screen and (min-width: 1400px) and (min-height: 800px) {
    width: 150px;
    height: 150px;
  }
}

.group__header {
  text-align: center;
  margin-bottom: 1rem;
}


.group__count {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--theme-color);
}

.group__label {
  font-size: 1.5rem;
  color: #999;
}

// #container__biodiversidad {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-evenly;
//   width: 100%;
// }