.treemap, .legend {
    rect, text {
      -moz-transition: all 0.25s;
      -o-transition: all 0.25s;
      -webkit-transition: all 0.25s;
      transition: all 0.25s;
    }

    // rect:hover {
    //   stroke: black;
    //   fill-opacity: 0.8;
    // }
}

.legend {
  g g {
    pointer-events: all;
  }
}

.tooltip {
  position: absolute;
  height: auto;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  display: none;
  width: auto !important;
  z-index: 99;

  .tooltip__title {
    font-weight: bold;
  }
}

#graph__coberturas {
  svg {
    display: block;
    margin: auto
  }

  button {
     @include tnc_button;
  }
}

#graph__carbono {
  button {
    @include tnc_button;

    @include respond(tab-port) {
      width: 10rem;
      padding: 0.8rem;
      font-size: 1.2rem;
    }
  }

}

#panel-carbono {
  .panel__stats {
    height: 22rem;
  }
}

#graph__biodiversidad, #graph__carbono {
  width: 400px;
  height: 150px;

  @include respond(tab-port) {
    width: 90vw;
  }
}

#graph__implementaciones {
  width: 50rem;
  height: 25rem;
  
  @include respond(tab-port) {
    width: 90vw;
  }
}

.group__graphic {
  width: 115px;
  height: 115px;
  position: relative;
}

.group__header {
  text-align: center;
}

.group__container {
  margin-bottom: 1.6rem;
}

.biodiversity__icon {
  @include positionCentered;
  width: 9.5rem;
  pointer-events: none;
}

#time__coberturas {
  visibility: hidden;
}

.time__select {
  text-align: center;
  border: none;
  border-bottom: 2px solid var(--theme-color);
  padding: 1rem;
}

#container__biodiversidad {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;


  h5 {
    color: $dark-gray;
    text-transform: uppercase;
  }

  h6 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
}