.header {
  align-items: center;
  background-color: $white;
  box-shadow: 0 0 8px rgba($black, 0.4);
  display: flex;
  height: $alto-header;
  justify-content: space-between;
  padding: 1rem 3rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: $index-header;
}

@mixin dark-hover {
  transition: color .3s;

  &:hover {
    color: $font-dark;
  }
}

.navigation {
  align-items: center;
  display: flex;
  justify-content: space-evenly;

  &__menu-list {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }

  &__item {
    margin-right: 3rem;
    
    a {
      @include dark-hover;
      color: $font-gray;

      &:hover,
      &:visited,
      &:link {
        text-decoration: none;
      }
    }
  }

  &__options {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }

  .divider {
    background-color: $font-gray;
    height: 3rem;
    margin-right: 3rem;
    width: 2px;
  }
}

.options {
  &__icon {
    @include dark-hover;
    cursor: pointer;
    font-size: 2rem;
    color: $font-gray;
    margin-right: 1.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__language {
    @include dark-hover;
    color: $font-gray;
    cursor: pointer;
    margin-right: 1.5rem;
  }
}