.header {
  align-items: center;
  background-color: $white;
  box-shadow: 0 0 8px rgba($black, 0.4);
  display: flex;
  height: $alto-header;
  justify-content: space-between;
  padding: 1rem 3rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: $index-header;

  &__logo {
    width: 12rem;
    z-index: 13;
  }

  .mobile-icon {
    display: none;
    color: $font-gray;
    font-weight: 700;
    font-size: 2.2rem;
    margin-left: 1rem;

    @include respond(tab-port) {
      display: inline-block;
    }
  }
}

@mixin dark-hover {
  transition: color .3s;

  &:hover {
    color: $font-dark;
  }
}

.navigation {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  
  @include respond(tab-port) {
    background-color: $white;
    box-shadow: 2px 5px 8px rgba($black, 0.4);
    flex-direction: column;
    height: 0;
    justify-content: space-between;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    right: 4rem;
    top: 6rem;
    transition: height 0.3s ease-in-out;
    z-index: 13;

    &--expanded {
      height: 15rem;
      max-height: 100rem;
    }
  }
  
  &__menu-list {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    @include respond(tab-port) {
      padding: 1rem;
      display: flex;
      height: 12rem;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item {
    margin-right: 3rem;
    
    a {
      @include dark-hover;
      color: $font-gray;

      &:hover,
      &:visited,
      &:link {
        text-decoration: none;
      }
    }
  }

  &__options {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    @include respond(tab-port) {
      margin-bottom: 1rem;
    }
  }

  &--mobile {
    display: none;

    @include respond(tab-port) {
      display: block;
    }
  }

  .divider {
    background-color: $font-gray;
    height: 3rem;
    margin-right: 3rem;
    width: 2px;

    @include respond(tab-port) {
      display: none;
    }
  }
}

.options {
  &__icon {
    @include dark-hover;
    cursor: pointer;
    font-size: 2rem;
    color: $font-gray;
    margin-right: 1.5rem;

    &:last-child {
      margin-right: 0;
    }

    @include respond(tab-port) {
      display: none;
    }
  }

  &__language {
    @include dark-hover;
    color: $font-gray;
    cursor: pointer;
    margin-right: 1.5rem;

    &.selected {
      font-weight: 700;
    }
  }
}
