.modal {
  opacity: 0;
  visibility: hidden;
  
  &--visible {
    opacity: 1;
    visibility: visible;
  }
}

.modal__overlay {
  align-items: center;
  background-color: rgba($black, .75);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 15;
}

.modal-popup {
  background-color: #fff;
  border-top: 5px solid var(--theme-color);
  max-width: 500px;
  padding: 2rem;
  z-index: 16;

  &__header {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    padding: 1.6rem;
    font-weight: 400;
  }

  &__content {

    > *:not(:last-child) {
      margin-bottom: 4rem;
    }
  }

  p {
    line-height: 1.6;
    font-size: 1.4rem;
  }

  .images {

    &--centered {
      @include flexCentered;
      justify-content: space-evenly;
    }
  }
}