$panel-width: 58rem;

.panel {
  align-items: center;
  background-color: rgba($white, $panel-opacity);
  box-shadow: -2px 0 4px rgba($black, 0.4);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  right: -100vw;
  top: $alto-header;
  transition: right .3s ease-in-out;
  width: $panel-width;
  z-index: 10;

  @media screen and (max-width: 900px) {
    width: 100vw;
  }

  @include respond(zoom-150) {
    width: 38rem;
    right: -38rem;
    top: 4rem;
  }

  &__header {
    width: 100%;

    h2 {
      font-size: 4rem;
      font-weight: lighter;
      padding-left: 1.5rem;
    }
  }

  &__expand {
    background-color: var(--theme-color);
    border-radius: 2px 0 0 2px;
    box-shadow: -2px 2px 4px rgba($black, 0.4);
    cursor: pointer;
    height: 6rem;
    display: flex;
    align-items: center;
    right: 100%;
    position: absolute;
    top: calc(50vh - 4rem);
    transition: transform .2s;
    width: 3.5rem;

    @include respond(zoom-150) {
      right: 38rem;
      height: 4rem;
      width: 2.2rem;
    }

    img {
      transform: rotateZ(180deg);
      @include respond(zoom-150) {
        width: 24px;
      }
    }

    &.expanded {
      img {
        transform: rotateZ(0);
      }

      @include respond(tab-port) {
        left: 0;
      }
    } 
  }

  &__selection {
    background-color: var(--theme-color);
    padding: 2rem 2rem;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);

    @include respond(tab-port) {
      padding: 1rem 1rem;
    }
  }
  
  &__selection-context {
    letter-spacing: 1.5px;
    color: $white;
    font-size: 2.5rem;
    font-weight: 100;

    @include respond(zoom-150) {
      font-size: 1.8rem;
    }
  }

  &__selection-subcontext {
    display: flex;
    flex-direction: row;

    h4 {
      color: $dark-gray;
      font-style: italic;
      font-size: 2rem;

      @include respond(zoom-150) {
        font-size: 1.2rem;
      }
    }
  }

  &__tabs {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__tab {
    background-color: $dark-gray;
    color: $white;
    cursor: pointer;
    flex: 1;
    font-weight: 400;
    padding: 1.6rem 0;
    text-align: center;
    width: 12rem;

    @include respond(tab-port) {
      font-size: 1.4rem;
    }

    @include respond(zoom-150) {
      font-size: 1.4rem;
    }
    
    &--active {
      background-color: var(--theme-color);
      color: $white;
    }

    &--disabled {
      background-color: $light-gray;
      cursor: unset;
    }
  }

  &__tab-panel {
    display: none;
    height: 100vh;
    width: 100%;
    
    > * {
      width: 100%;
    }
    
    &--active {
      display: block;
    }
  }
  
  &__information {
    justify-self: flex-start;
    color: $font-gray;
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
    width: 100%;

    @include respond(zoom-150) {
      font-size: 1rem;
    }
  }
  
  &__tab-content {
    padding: 3rem;
    overflow-y: auto;
    height: calc(100vh - 205px);

    @include respond(zoom-150) {
      height: calc(100vh - 185px);
    }

    @media (orientation: landscape) {
      height: calc(100vh - 185px);
    }
  }

  &__graph {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 300px;
    border: 1px solid lightgray;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);

    @include respond(zoom-150) {
      height: 300px;
    }

    @media screen and (min-width: 1400px) and (min-height: 800px) {
      height: 400px;
    }
  }

  &__title {
    flex: 0 1 auto;
    padding: 1rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;

    @media screen and (min-width: 1400px) and (min-height: 800px) {
      font-size: 1.75rem;
    }
  }

  &__stats {
    padding: 1rem;
    width: 100%;
    font-size: 0; /* remover espacios blancos entre divs. Ver https://stackoverflow.com/a/5078297/7144368 */

    /* hacer que ocupe la altura restante del padre */
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    overflow-y: auto;


    .helper__text__container {
      width: 100%;
      height: 100%;
      position: relative;

      .helper__text {
        font-size: 1.5rem;
        text-align: center;
        color: #999;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        position: absolute;
        width: 75%;  
      }
    }

    .carbon__numbers {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      &__item {
        text-align: center;
      }

      &__label {
        font-size: 1.8rem;
        font-weight: bold;;
        color: #999
      }

      &__amount {
        font-size: 3rem;
        font-weight: 300;
        color: var(--theme-color);
        margin-top: 1.2rem;
        margin-bottom: 0;
      }

      &__unit {
        font-size: 1.2rem;
        font-weight: bold;
        color: #999;
      }
    }
  }

  &__buttons {
    text-align: center;

    button {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
      background-color: #ddd;
      cursor: pointer;
      border: none;
      border-radius: 50%;
      transition: all 0.2s;
      margin: 0 10px;

      &:focus {
        outline: none;
      }

      &:hover {
        box-shadow: 0 5px 8px rgba(0, 0, 0, .4);
      }

      &.selected {
        background-color: var(--theme-color);
      }
    }
  }

  &__graph-fields {
    width: 100;
    text-align: center;
  }
  
  &.expanded {
    right: 0;
  }

  &__specific__information {
    margin: 1.6rem 0;
    color: #999;
    font-size: 1.6rem;

    @include respond(zoom-150) {
      font-size: 1rem;
    }
  }
}

.swiper-container {
  width: 100%;

  .swiper-wrapper {
    // padding: 0 1rem;
  }

  .swiper-button-next, .swiper-button-prev{
    width: auto;
    height: auto;
    font-size: 4rem;
    color: #666;
  }

  .swiper-button-next {
    right: 0px;
  }

  .swiper-button-prev {
    left: 0px;
  }

  .swiper-button-next:after, .swiper-button-prev:after{
    content: none;
  }
}

.js-panel-warning {
  width: 100%;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
}


::-webkit-scrollbar {
  height: 4px;
  width: 6px; 
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px; 
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--theme-color);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: var(--theme-color); 
}
