.panel {
  align-items: center;
  background-color: rgba($white, $panel-opacity);
  //box-shadow: -5px 0 10px rgba($black, .2);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  right: -48rem;
  top: $alto-header;
  transition: right .3s ease-in-out;
  width: 48rem;

  &__header {
    margin-bottom: 2rem;
    width: 100%;

    h2 {
      font-size: 4rem;
      font-weight: lighter;
      padding-left: 1.5rem;
    }
  }

  &__expand {
    background-color: var(--theme-color);
    border-radius: 2px 0 0 2px;
    cursor: pointer;
    height: 6rem;
    display: flex;
    align-items: center;
    right: 48rem;
    position: absolute;
    top: calc(50vh - 4rem);
    transition: transform .2s;
    width: 3.5rem;

    img {
      transform: rotateZ(180deg);
    }

    &.expanded {
      img {
        transform: rotateZ(0);
      }
    } 
  }

  &__selection {
    background-color: var(--theme-color);
    position: absolute;
    top: 5rem;
    padding: 4rem 2rem
  }

  &__selection-context {
    color: $dark-gray;
    font-size: 2.5rem;
  }

  &__tabs {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__tab {
    background-color: $dark-gray;
    color: $white;
    cursor: pointer;
    padding: 1.6rem 0;
    text-align: center;
    width: 12rem;
    
    &--active {
      background-color: var(--theme-color);
      color: $white;
    }

    &--disabled {
      background-color: $light-gray;
      cursor: unset;
    }
  }

  &__tab-panel {
    align-items: center;
    display: none;
    flex-direction: column;
    height: calc(100vh - 110px);
    justify-content: space-evenly;
    padding: 0 3rem;
    width: 100%;

    > * {
      width: 100%;
    }

    &--active {
      display: flex;
    }
  }

  &__information {
    color: $font-gray;
    font-size: 20px;
    width: 100%;
  }

  &.expanded {
    right: 0;
  }
}

.js-panel-warning {
  width: 100%;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
}
