.panel {
  align-items: center;
  background-color: rgba($white, $panel-opacity);
  box-shadow: -5px 0 10px rgba($black, .2);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  right: 0;
  top: $alto-header;
  width: 48rem;

  &__header {
    margin-bottom: 2rem;
    width: 100%;

    h2 {
      font-size: 4rem;
      font-weight: lighter;
      padding-left: 1.5rem;
    }
  }

  &__tabs {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__tab {
    background-color: var(--theme-color);
    color: $white;
    cursor: pointer;
    padding: 1.6rem;
    
    &--active {
      background-color: $white;
      color: $font-dark;
    }

    &--disabled {
      background-color: $light-gray;
      cursor: unset;
    }
  }

  &__tab-panel {
    display: none;
    padding: 0 3rem;
    width: 100%;

    &--active {
      display: block;
    }
  }

  &__description {
    margin-bottom: 1.5rem;
  }
}