$panel-width: 58rem;

.panel {
  align-items: center;
  background-color: rgba($white, $panel-opacity);
  box-shadow: -2px 0 4px rgba($black, 0.4);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  right: -$panel-width;
  top: $alto-header;
  transition: right .3s ease-in-out;
  width: $panel-width;

  &__header {
    width: 100%;

    h2 {
      font-size: 4rem;
      font-weight: lighter;
      padding-left: 1.5rem;
    }
  }

  &__expand {
    background-color: var(--theme-color);
    border-radius: 2px 0 0 2px;
    box-shadow: -2px 2px 4px rgba($black, 0.4);
    cursor: pointer;
    height: 6rem;
    display: flex;
    align-items: center;
    right: $panel-width;
    position: absolute;
    top: calc(50vh - 4rem);
    transition: transform .2s;
    width: 3.5rem;

    img {
      transform: rotateZ(180deg);
    }

    &.expanded {
      img {
        transform: rotateZ(0);
      }
    } 
  }

  &__selection {
    background-color: var(--theme-color);
    padding: 2rem 2rem;
  }
  
  &__selection-context {
    letter-spacing: 1.5px;
    color: $white;
    font-size: 2.5rem;
    font-weight: 100;
  }

  &__tabs {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__tab {
    background-color: $dark-gray;
    color: $white;
    cursor: pointer;
    flex: 1;
    font-weight: 400;
    padding: 1.6rem 0;
    text-align: center;
    width: 12rem;
    
    &--active {
      background-color: var(--theme-color);
      color: $white;
    }

    &--disabled {
      background-color: $light-gray;
      cursor: unset;
    }
  }

  &__tab-panel {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    
    > * {
      width: 100%;
    }
    
    &--active {
      display: block;
    }
  }
  
  &__information {
    justify-self: flex-start;
    color: $font-gray;
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
    width: 100%;
  }
  
  &__tab-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    min-height: calc(100vh - 180px);
  }

  &__graph {
    flex: 1;
  }

  &__stats {
    padding: 2rem;
    width: 100%;
  }

  &__graph-fields {
    width: 100;
    text-align: center;
  }
  
  &.expanded {
    right: 0;
  }
}

.js-panel-warning {
  width: 100%;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
}
