.resultados {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    align-self: baseline;
    font-size: 2.5rem;
    border-bottom: 1px solid $dark-green;
    margin-bottom: 1rem;
    width: 100%;
  }

  &__table {
    width: 100%;
    text-align: center;
    margin-bottom: 2.5rem;
    
    table {
      width: 100%;
    }

    &-headings {
      background-color: $light-green;
      color: $white;
      text-align: left;
    }
    
    &-heading {
      padding: .5rem 1rem;

      &:last-child {
        padding-left: 3rem;
      }
    }

    &-row {
      color: $font-dark;
      text-align: left;

      &:nth-child(even) {
        background-color: $light-gray;
      }
    }

    &-cell {
      padding: 3px 1rem;

      &:last-child {
        padding-left: 3rem;
      }
    }

  }

  &__carousel {
    width: 100%;
    margin-bottom: 2rem;
    padding: 0 3rem;
  }

  &__enlace {
    @extend .button--green;
    align-self: baseline;
  }
}

.biodiversidad {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;

  
  &__card {
    align-items: center;
    justify-content: space-between;
    border: 1px solid $light-gray;
    box-shadow: 0 5px 5px rgba($black, .3);
    color: $font-dark;
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem 2rem;
  }

  &__card-title {
    margin-bottom: 2rem;
  }

  &__card-count {
    font-size: 3rem;
    font-weight: 100;
    color: $light-green;
  }
}