.navigation__selector {
  background-color: $white;
  box-shadow: 0 5px 10px rgba($black, .4);
  max-height: 0;
  position: absolute;
  overflow: hidden;
  top: $alto-header;
  transition: all .3s ease-in-out;

  &--visible {
    max-height: 100rem;
  }

  @include respond(zoom-150) {
    top: 4rem;
  }

  &.proyecto-selector {
    right: 9.7rem;

    @include respond(zoom-150) {
      right: 11.3rem;
    }
  }
}

.selector {
  
  li {
    cursor: pointer;
    padding: 1rem 2rem;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: $light-gray;
    }
  }
}