.toolbar {
  background-color: var(--theme-color);
  box-shadow: 5px 0 10px rgba($black, .4);
  left: 4.6rem;
  position: absolute;
  top: calc(6rem + 4.6rem);
  z-index: $index-toolbar;
  
  &__menu {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }

  &__menu-item {
    cursor: pointer;
    padding: 1rem;
    position: relative;


    &:hover {
      background-color: var(--theme-color-hover);
    }

    &--active {
      background-color: var(--theme-color-active);

      &:hover {
        background-color: var(--theme-color-active);
      }
    }
  }

  &__menu-icon {
    color: $white;
    font-size: 2.2rem;
    padding: .4rem;
  }
}

.menu-panel {
  background-color: $white;
  box-shadow: 5px 0 10px rgba($black, .4);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  transition: max-height .4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: top;
  max-height: 0;
  width: 20rem;

  &__title {
    color: $dark-gray;
    font-size: 1.8rem;
    font-weight: lighter;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 2rem;
    height: 3.6rem;
  }

  &__contenido {
    max-height: 70vh;
    overflow-y: auto;
    padding: 0 1rem;
    width: 20rem;
  }

  &__menu-item {
    border-bottom: 1px solid $white;
    cursor: pointer;
    padding: 1.5rem 0;
    
    &--vertical {
      align-items: center;
      border-bottom: none;
      display: flex;
      flex-direction: column;
      flex-basis: 28%;
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: 2rem;
    }

    img {
      box-shadow: 4px 4px 5px rgba($black, .4);
      margin-bottom: 5px;
    }
  }

  &--expanded {
    max-height: 50rem;
  }
}

#menu-buscar {

  #search-map {
    padding-top: 1rem;
    min-height: 25rem;
    display: block;
  }
}
