.toolbar {
  background-color: var(--theme-color);
  box-shadow: 5px 0 10px rgba($black, .4);
  left: 0;
  position: absolute;
  top: $alto-header;
  z-index: $index-toolbar;
  
  &__menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__menu-item {
    cursor: pointer;
    padding: .8rem;
    position: relative;


    &:hover {
      background-color: var(--theme-color-hover);
    }

    &--active {
      background-color: var(--theme-color-active);

      &:hover {
        background-color: var(--theme-color-active);
      }
    }
  }

  &__menu-icon {
    color: $white;
    font-size: 2.2rem;
    padding: .4rem;
  }
}

.menu-panel {
  align-items: center;
  background-color: var(--theme-color);
  box-shadow: 5px 0 10px rgba($black, .4);
  display: flex;
  flex-direction: column;
  left: 4.6rem;
  overflow: hidden;
  position: absolute;
  transition: width .4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: left;
  width: 0;

  &__title {
    color: $white;
    font-size: 3rem;
    font-weight: lighter;
    margin-bottom: 2rem;
    padding-top: 2.5rem;
  }

  &__contenido {
    max-height: 70vh;
    overflow-y: auto;
    padding: 0 1rem;
    width: 20rem;
  }

  &__menu-item {
    border-bottom: 1px solid $white;
    cursor: pointer;
    padding: 1.5rem 0;
    
    &--vertical {
      align-items: center;
      border-bottom: none;
      display: flex;
      flex-direction: column;
      flex-basis: 28%;
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: 2rem;
    }

    img {
      box-shadow: 4px 4px 5px rgba($black, .4);
      margin-bottom: 5px;
    }
  }

  &--expanded {
    width: 20rem;
  }
}

#menu-base {
  top: calc(3 * 4.6rem);
}

#menu-leyenda {
  top: calc(2 * 4.6rem);
}

#menu-capas {
  top: calc(1 * 4.6rem);
}

#menu-buscar {
  top: calc(0 * 4.6rem);

  #search-map {
    padding-top: 1rem;
    min-height: 35rem;
    display: block;
  }
}
