@mixin animationDelay {
  @for $i from 1 to 5 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 0.5}s;
    }
  }
}

@mixin flexCentered {
  align-items: center;
  display: flex;
  justify-content: center;
}