@import "../base/index";
@import "../utils/index";
@import "../components/header";

@keyframes card-intro {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.card {
  align-items: center;
  background-color: #000;
  background-position: center center;
  background-size: cover;
  color: $white;
  cursor: pointer;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  position: relative;
  transform-origin: bottom;
  justify-content: space-evenly;
  transition: all .4s ease;

  &.hover {
    .card-background {
      opacity: .5;
      z-index: 0;
    }

    .card__title {
      border-bottom-color: $white !important;
    }

    .card__icon {
      opacity: 1;
      z-index: 1;
    }
  }

  &__text {
    margin-bottom: 5%;
    width: 100%;
    z-index: 5;
  }
  
  &__title {
    font-size: 4.5rem;
    font-weight: 100;
    padding-bottom: 1.6rem;
    margin-bottom: 2.6rem;
    width: calc(100% - 6rem);
    margin: auto;
  }

  &__icon {
    margin-bottom: 5rem;
    object-fit: contain;
    opacity: 0;
    transition: opacity .3s ease;
    width: 30%;

    @include respond(tab-port) {
      margin-bottom: 0;
    }
  }

  &__description {
    padding: 3rem;
  }
}

.content {
  position: relative;
  top: $alto-header;

  &.hidden {
    display: none;
  }
}

.card-background {
  top: 0;
  left: 0;
  position: absolute;
  transition: opacity .3s;
  width: 50vw;
  height: calc(100vh - #{$alto-header});
  opacity: 0;

  @include respond(tab-port) {
    width: 100vw;
  }

  img {
    height: $alto-contenido;
    object-fit: cover;
    width: 200%;
  }
}

.estrategias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: $alto-contenido;
  transition: margin-top .2s ease;

  .estrategia.card {
    @include animationDelay;
    animation: card-intro 1s forwards;
    overflow: hidden;
    transform: scaleY(0);

    &:hover {
      
      .estrategias__title {
        border-color: $white;
      }
    }
    
  }

  &.collapsed {
    margin-top: calc(-100vh + #{$alto-header});
    //height: 0;
  }

  @include respond(tab-port) {
    grid-template-columns: 1fr;
    grid-auto-rows: calc(50vh - #{$alto-header} / 2);
  }
}

.proyectos {
  display: flex;
  justify-content: center;
  height: $alto-contenido;

  &.hidden {
    display: none;
  }

  @include respond(tab-port) {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: calc(100vh - #{$alto-header});
  }

}
.cta-landing {
  @include flexCentered;
  background-color: $white;
  border-radius: 50%;
  top: 8rem;
  box-shadow: 0 2px 5px rgba($black, .8);
  cursor: pointer;
  position: absolute;
  transition: all .2s ease;
  width: 8rem;
  height: 8rem;
  padding: 1rem;
  z-index: 5;
  
  &.hidden {
    display: none;
  }
  
  &:hover {
    box-shadow: 0 5px 8px rgba($black, .8);
    transform: translateY(-2px);
  }

  @include respond(tab-port) {
    height: 4rem;
    width: 4rem;
  }
}

.cta-back {
  left: 3rem;

  img {
    width: 4.5rem;

    @include respond(tab-port) {
      width: 2.5rem;
    }
  }
}

.cta-forward {
  right: 3rem;
  
  img {
    width: 5rem;

    @include respond(tab-port) {
      width: 2.5rem;
    }
  }
}
