@import "../base/index";
@import "../utils/index";
@import "../components/header";

@keyframes card-intro {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.content {
  position: relative;
  top: 8rem;

  &.hidden {
    display: none;
  }
}

.loader {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;

  &.hidden {
    display: none;
  }
}

.estrategias {
  display: flex;
  justify-content: center;
  height: calc(100vh - 8rem);
  transition: margin-top .2s ease;

  &__card {
    @include animationDelay;
    align-items: center;
    animation: card-intro 1s forwards;
    cursor: pointer;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    overflow: hidden;
    position: relative;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: color, background-color .4s ease;

    &:hover {
      color: $white;
      background-color: #000;
      
      .estrategias__icon {
        fill: $white;
      }
    }

  }

  &__icon {
    width: 65%;
    margin-bottom: 5rem;
  }

  &__title {
    border-bottom: .6rem solid currentColor;
    font-size: 4.5rem;
    padding-bottom: 1.6rem;
    margin-bottom: 2.6rem;
    width: calc(100% - 6rem);
    margin: auto;
  }

  &__description {
    padding: 3rem;
  }

  &.collapsed {
    margin-top: calc(-100vh + 8rem);
    //height: 0;
  }
}

.proyectos {
  display: flex;
  justify-content: center;
  height: calc(100vh - 8rem);

  &__card {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    max-width: 50%;
    transform-origin: bottom;
    justify-content: center;
    transition: color, background-color .4s ease;

    &:hover {
      color: $white;
      background-color: #000;
      
      .estrategproyectos__iconias__icon {
        fill: $white;
      }
    }
  }

  &__icon {
    width: 65%;
    margin-bottom: 5rem;
  }

  &__title {
    border-bottom: .6rem solid currentColor;
    font-size: 4.5rem;
    font-weight: 100;
    padding-bottom: 1.6rem;
    margin-bottom: 2.6rem;
    width: calc(100% - 6rem);
    margin: auto;

    
    span.bolder {
      font-weight: 700;
    }
  }

  &__description {
    padding: 3rem;
  }

  &.hidden {
    display: none;
  }

}
