// Colores
$black: #000;
$white: #fff;
$light-green: #49aa42;
$light-green-hover: #6ab864;
$dark-green: #104d0c;
$menu-green: #388e32;
 
$theme-agroforestal: #a0bf4d;
$theme-agua: #0097d1;
$theme-infraestructura: #f88f39;

// Opacidad
$panel-opacity: .7;

// Z-index
$index-toolbar: 10;